/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial, sans-serif;
    /* background-image: url('assets/bg.jpg'); */
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 50%;
    margin: 100px auto;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    text-align: center;
  }
  
  h2 {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 2em;
    color: #333;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .result-container {
    width: 40%;
    margin: auto;
    background: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .center-button {
    display: flex;
    justify-content: center;
  }
  